* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Odin";
  src: url("fonts/Norse-Bold.otf");
}

body {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}
body > aside {
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  color: white;
  font-family: "Odin", sans-serif;
}

aside {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside div {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px;
  background-color: rgb(0 0 0 / 50%);
  margin-top: 200px;
}

aside div p {
  font-size: 3rem;
}
aside img {
  width: 50px;
}

aside p {
  margin-top: auto;
}

main {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desc {
  background-color: grey;
}

.submit-section {
  background-color: grey;
}
