@font-face {
  font-family: "Odin";
  src: url("fonts/Norse-Bold.otf");
}

body {
  display: flex;
  flex-direction: row-reverse;
}
body > aside {
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  color: white;
  font-family: "Odin", sans-serif;
}
